html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.full {
    width: 100%;
    height: 100%;
    background: url("../img/back.jpg") no-repeat 50% 50%;
    background-size: cover;
    display: table;
    margin: 0;
    top: 0;
}

.full-inner {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

.content {
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.content h1 {
    font-family: 'Century Gothic', sans-serif;
    font-size: 500%;
    color: #9b1414;
}

.content a{
    border-radius: 9px;
    color: #a50a0a;
    font-family: 'century Gothic', sans-serif;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid;
    padding: 7px 13px;
}

.content a:hover {
    background-color: #f3000075
}

p {
    font-size: 160%;
    line-height: 200%;
    margin: 3%;
    font-family: sans-serif;
}