* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #171717;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.container .box:before {
    border-radius: 5px;
    position: absolute;
    content: " ";
    top: 0;
    left: 55px;
    width: 50%;
    height: 100%;
    background: white;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container .box:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    background: white;
    border-radius: 8px;
    transform: skewX(15deg);
    filter: blur(5px);
    transition: 0.5s;
}

.content {
    z-index: 2;
}

.container .box:hover:before,
.container .box:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.container .box:before,
.container .box:after {
    background: linear-gradient(315deg, #ff0002, gold);
}

.container .box span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

.container .box span:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 05);
    animation: animate 2s linear infinite;
}

.container .box:hover span:before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container .box span:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation-delay: -2s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 05);
    animation: animate 2s linear infinite;
}

.container .box:hover span:after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {
    0%,
    100% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
}

.container .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: white;
}

.container .box:hover .content {
    left: -25px;
    padding: 60px 40px;
}

.container .box .content h2 {
    font-size: 2em;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}

.container .box .content:hover h2, p, a {
    position: relative;
    top: 50px;
}

.container .box .content p {
    color: white;
    font-size: 16px;
    text-align: justify;
    transition: 0.5s;
    margin: 20px auto;
}

.container .box .content a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px 40px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.container .box .content a:hover {
    background: #ffffff;
    color: #000;
}